/* body */
.body {
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    position: relative;
}

/* dkagl */

/* inner */
.inner {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    /* border: 1px solid yellow; */
}

/* logo */
.sitemap-logo {
    z-index: 99; 
    width: 205px;
    height: 26.57px;
    background: url(../img/logo_b.svg) no-repeat center / contain;
    display: block;
    position: fixed;
    top: 35px;
    left: 20px;
}

.sitemap-logo a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    /*text-indent: -99999999px;*/
    /*color:0*/
}

/* closebtn */
.close {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 12px;
    top: 24px;
}

.close a {
    width: 100%;
    height: 100%;
}

.close a .closebtn {
    background: url(../img/closebtn.svg);
    position: absolute;
    width: 50px;
    height: 50px;
}

/* sitemap_nav */
.sitemap_nav {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 125px 90px 0 90px;
}

.sitemap_nav .menu{
    width: 320px;
    height: 485px;
    margin-left: 33px;
    border-right: 1px solid #EAEAEA;
    z-index: 3;
}

.sitemap_nav .menu:nth-child(1) {
    margin-left: 0px;
}

.sitemap_nav .menu:nth-child(4) {
    border: 0;
}

.sitemap_nav .menu > a{
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #222222;
}

.sitemap_nav .menu .gnb {
    margin-top: 45px;
}

.sitemap_nav .menu .gnb li a {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #222222;
}

.sitemap_nav .menu .gnb li .gnb_gnb li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #777;
}

.sitemap_nav .menu .gnb li .gnb_gnb li a:hover {
    color: #2087FC;
}

/* bg */
.background {
    width: 380px;
    height: 259px;
    background: url(../img/sitemap-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 50px;
}

/* 1440 반응형 */
@media (min-width: 1440px) {
    .sitemap-logo {
        left: 80px;
    }

    .close {
        right: 72px;
    }

    .sitemap_nav {
        padding: 125px 175px 0 175px;
    }
}